USE [master]
GO
/****** Object:  Database [Pinned]    Script Date: 2021/06/24 8:06:10 PM ******/
CREATE DATABASE [Pinned]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pinned', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Pinned.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pinned_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Pinned_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pinned].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pinned]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 2021/06/24 8:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[onDate] [datetime] NULL,
	[UserRole] [nvarchar](50) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblUsers] ADD  DEFAULT (getdate()) FOR [onDate]
GO
USE [master]
GO
